* {
  outline: none !important;
}

.instructor * {outline: inherit;}

.instructor h1,
.instructor h2,
.instructor h3,
.instructor h4,
.instructor h5,
.instructor h6 {
  margin-top: inherit;
}

.instructor b {
  font-weight: inherit;
}

.instructor a {
  color: inherit;
}

.instructor a:hover, .instructor a:focus {
  text-decoration: inherit;
  color: inherit;
}

.instructor::selection {
  background-color: inherit;
}

.instructor p {
  font-family: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  line-height: inherit;
}
