body {
  background: #333;
  color: #fff;
}

*[hidden] {
  display: none !important;
}

small {
  font-size: 8px;
}

h2 {
  display: inline-block;
}

.link-button {
  cursor: pointer;
  text-decoration: underline;
  font-size: smaller;
  float: right;
  color: #ccc;
  border: none;
  background: unset;
  outline: none;
}
.link-button:hover {
  color: #eee;
}

#lnkStartOver, #lnkEditConfig {
  margin-top: 2.5em;
}

.dialogList {
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
  background: #2b2b2b;
  max-height: 400px;
  min-height: 24px;
  overflow: auto;
}

.dialogList li {
  padding: 0px 5px;
  border-bottom: 1px solid #454545;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#divTestList ul li span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dialogList li span:first-child {
  flex: 1;
  line-height: 24px;
}

.dialogList li svg[data-type="edit"] {
  fill: #269CE9;
}
.dialogList li svg[data-type="del"] {
  fill: #ca3535;
}

.dialogList li svg:hover {
  cursor: pointer;
  opacity: 0.8;
}

#divTestList .dialogList {
  background: #222;
}

#divCurrentTest {
  margin-bottom: 20px;
  font-size: large;
  color: #ccc;
}

#divActionCtls {
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px;
}
#btnAddAction {
  margin-left: 5px;
  padding: 6px 10px;
}

#divSelected, #actionsList {
  background: #222;
  padding: 5px;
  margin-top: 5px;
}

#actionsList {
  padding: 0 0 0 4px;
  max-height: 200px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

#actionsList[can-scroll] {
  overflow-y: auto;
}

#divBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}

.dialog, #divAlert {
  z-index: 101;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #333;
  color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px, rgba(0, 0, 0, 0.4) 0px 8px 10px -5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog h3, #divAlert h3 {
  margin: 5px 10px 15px;
}

#divAlert {
  width: unset;
  height: unset;
  max-width: 80%;
  min-width: 200px;
}

#divDimDialog {
  max-height: 300px;
}

#divValueEditDialog {
  max-height: 200px;
}

#divRegionsDialog, #divActionRegionsDialog, #divClipRegionsForActionDialog {
  max-height: 480px;
}

#divAlert, #divDimDialog, #divRegionsDialog, #divActionRegionsDialog, #divClipRegionsForActionDialog, #divValueEditDialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#divAlert #titleAlert {
  margin-top: 4px;
}

#divAlert #divAlertMessage {
  margin: 0 12px;
}

.dialogClose {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dialog h5 {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.dialogForm {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  padding-top: 5px;
  background: #3c3c3c;
}

.dialogForm label, .dialogForm input, .dialogForm ul, .dialogForm .dropdown {
  margin: 0 10px;
}

.dialogForm ul {
  margin-bottom: 10px;
}

.dialogForm label {
  font-size: 10px;
  display: block;
  margin-left: 11px;
  color: #bbb;
}

.dialogForm label[for^="chk"] {
  display: inline-block;
  margin-left: 6px;
  color: #fff;
}

.dialogForm input:not([type="checkbox"]) {
  display: block;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  background: #2b2b2b;
  color: white;
  border: none;
  padding: 5px;
  outline: none;
}

.dialogForm input[type="checkbox"] {
  margin-bottom: 16px;
  margin-right: 0;
}

.dialogForm input[invalid] {
  border: 1px solid red;
}

.dialogBtn {
  margin: 10px 10px 0;
}

#divAlert button {
  margin: 25px auto 5px;
}

div.listHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

div.listHeader label {
  flex: 1;
}

div.listHeader button {
  margin-right: 10px;
  padding: 4px;
  font-size: 10px;
}

#btnSaveTest {
  padding: 6px 12px;
  float: right;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table td {
  padding: 2px 0 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #666;
}
table tr:last-child td {
  border-bottom: none;
}
table td:nth-child(1) {
  width: 25%;
}
table td:nth-child(2) {
  width: 75%;
}
table td:nth-child(n+3) {
  width: 24px;
}
table td svg {
  cursor: pointer;
}
table td svg:hover {
  opacity: 0.8;
}
table td svg[data-type="play"] {
  fill: #57a957;
}
table td svg[data-type="edit"],
table td svg[data-type="up"],
table td svg[data-type="down"] {
  fill: #269CE9;
}
table td svg[data-type="del"] {
  fill: #ca3535;
}
