#golden-view {
  margin: 8px 16px;
}
.golden-list-section {
  margin-bottom: 8px;
  cursor: pointer;
}
.golden-list-section:hover {
  opacity: 75%;
}
.golden-list-section span:last-child {
  vertical-align: top;
  margin-left: 8px;
}
.golden-list {
  display: none;
  background: #222;
  margin: 0 0 24px 0;
  padding: 0;
  list-style-type: none;
  background: #2b2b2b;
  min-height: 24px;
  overflow: auto;
}
.golden-list.list-open {
  display: block;
}
.golden-list li {
  padding: 0px;
  border-bottom: 1px solid #454545;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.golden-list li div {
  padding: 10px;
}
.golden-list li div:first-child {
  flex: 1;
}
.golden-list li div:not(:first-child) a {
  color: #70b9e8;
  text-decoration: underline;
}
.golden-list li div:not(:first-child):hover a {
  cursor: pointer;
  color: #a2c9e2;
}
.golden-list li div:not(:first-child):active a {
  opacity: 0.8;
}