#btn-info {
  padding: 8px;
}
.btn-w-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-style: italic;
}
.btn-w-key > button {
  height: 29px;
}
.btn-w-key > span {
  line-height: 14px;
}
.viewer-body-row {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  white-space: nowrap;
}
.lbl-img-caption {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
  line-height: 22px;
  color: #999;
}
.viewer-sbs {
  grid-column-start: 1;
  grid-column-end: 3;
}
#lbl-new-image {
  margin-bottom: 8px;
  color: #f5da4f;
}
